* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #bfbfbf;
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: 100%;
}

.main-container {
    background-color: #bfbfbf;
    display: flex;
    justify-content:center;
    align-items: center;
    
}

.hide { 
    display: none;
}

.main-container > button {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

.grid-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.grid {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 600px;
    background-color: #bfbfbf;
    flex-grow: 1; 
}

.grid > div {
    height: 100vh;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.grid > div > div {
    background-color: #bfbfbf;
    transition: background-color 3s;
}

/* .grid > div > div .hovered {
    background-color: #ff0000;
    transition: background-color 0.003ms; 
} */

.grid > div > * {
    flex: 1;
}


